# /Datasets/
/Logs/
/report/
# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore environment files
.env
venv/
.envrc

# Ignore logs
*.log

# Ignore miscellaneous files
.DS_Store

tokens.py

chromium/

*.exe

my_config.yaml

token.txt

Results